In [2]:
import pandas as pd
df = pd.read_csv('DietCalories.csv', sep=',')
df.drop(columns=['Code'], inplace=True)

In [3]:
df

          Country  Year  AnimalProtein  PlantProtein     Fat  Carbohydrates
0     Afghanistan  1961          54.12        285.52  337.59        2321.77
1     Afghanistan  1962          53.92        278.00  338.49        2246.59
2     Afghanistan  1963          56.80        251.68  347.13        2042.39
3     Afghanistan  1964          57.32        276.64  350.55        2268.49
4     Afghanistan  1965          59.76        275.68  357.57        2262.99
...           ...   ...            ...           ...     ...            ...
8976     Zimbabwe  2009          48.64        162.16  531.72        1404.48
8977     Zimbabwe  2010          49.16        161.72  531.45        1425.67
8978     Zimbabwe  2011          51.40        159.20  537.66        1451.74
8979     Zimbabwe  2012          49.80        153.16  538.56        1455.48
8980     Zimbabwe  2013          47.04        146.36  514.62        1401.98

[8981 rows x 6 columns]

In [4]:
i = 1
for column in list(df.columns)[2:]:
    df[['Country','Year', column]].rename(columns={column:'Value'}).to_csv(f'59-{i}_DietCalories{column}.csv', sep=',', index=False)
    i+=1