In [13]:
import pandas as pd

In [35]:
df = pd.read_csv('16_CardiovascularDyingProbability30_70 - Completo.csv', sep=',')

In [36]:
df

          Country  Year        Both sexes              Male            Female
0     Afghanistan  2019  35.3 [21.8-49.8]  34.4 [21.9-47.9]  36.2 [21.7-51.6]
1     Afghanistan  2018  35.4 [21.7-50.1]  34.7 [22.0-48.5]  36.0 [21.4-51.6]
2     Afghanistan  2017  35.5 [21.7-50.4]  35.0 [22.0-49.1]  35.9 [21.3-51.7]
3     Afghanistan  2016  35.6 [21.6-50.7]  35.1 [22.0-49.4]  36.0 [21.2-51.9]
4     Afghanistan  2015  35.6 [21.6-50.8]  35.4 [22.3-49.8]  35.7 [21.0-51.7]
...           ...   ...               ...               ...               ...
3655     Zimbabwe  2004  24.5 [15.7-35.3]  24.6 [16.7-34.7]  24.5 [15.0-35.8]
3656     Zimbabwe  2003  23.1 [14.7-33.4]  23.5 [15.9-33.3]  22.7 [13.7-33.5]
3657     Zimbabwe  2002  22.7 [14.4-32.9]  24.1 [16.3-33.9]  21.5 [13.0-32.0]
3658     Zimbabwe  2001  21.7 [13.8-31.6]  23.6 [16.0-33.2]  20.2 [12.1-30.4]
3659     Zimbabwe  2000  21.4 [13.6-31.2]  23.3 [15.9-32.8]  19.8 [11.7-29.9]

[3660 rows x 5 columns]

In [37]:
df1 = df[['Country', 'Year', 'Both sexes']]
df2 = df[['Country', 'Year', 'Male']]
df3 = df[['Country', 'Year', 'Female']]

In [38]:
df1.insert(2, 'Gender', 'Both sexes')
df1.columns = ['Country Name', 'Time', 'Gender', 'Value']
df2.insert(2, 'Gender', 'Male')
df2.columns = ['Country Name', 'Time', 'Gender', 'Value']
df3.insert(2, 'Gender', 'Female')
df3.columns = ['Country Name', 'Time', 'Gender', 'Value']

In [42]:
df_def = pd.concat([df1,df2,df3]).sort_values(['Country Name', 'Time', 'Gender'])

In [44]:
df_def.to_csv('16_CardiovascularDyingProbability30_70.csv', sep=',', index=False)